/java/leccion1/MundoPc/nbproject/private/
/java/leccion1/MundoPc/build/
/java/New Folder/ArgumentosVariables/nbproject/private/
/java/New Folder/ArgumentosVariables/build/
/java/leccion2/ArgumentosVariables/nbproject/private/
/java/leccion2/Enumeraciones/nbproject/private/
/java/leccion2/Enumeraciones/build/
/java/leccion2/BloquesInicializacion/nbproject/private/
/java/leccion2/BloquesInicializacion/build/
