/java/leccion1/MundoPc/nbproject/private/
/java/leccion1/MundoPc/build/
/java/New Folder/ArgumentosVariables/nbproject/private/
/java/New Folder/ArgumentosVariables/build/
/java/leccion2/ArgumentosVariables/nbproject/private/
/java/leccion2/Enumeraciones/nbproject/private/
/java/leccion2/Enumeraciones/build/
/java/leccion2/BloquesInicializacion/nbproject/private/
/java/leccion2/BloquesInicializacion/build/
/java/leccion3/ForEach/nbproject/private/
/java/leccion3/ForEach/build/
/java/leccion3/AutoboxingUnboxing/nbproject/private/
/java/leccion3/AutoboxingUnboxing/build/
/java/leccion3/ModificadoresAcceso/nbproject/private/
/java/leccion3/ModificadoresAcceso/build/
/java/leccion4/SobreEscritura/nbproject/private/
/java/leccion4/SobreEscritura/build/
/java/leccion4/InstanceOf/nbproject/private/
/java/leccion4/InstanceOf/build/
